<div class="flex justify-between text-gray-500 w-[570px] mt-4">
  <span class="flex items-center justify-center gap-2">
    <img src="./../../assets/images/Reply.svg" alt="" />
    <span>{{ tweets.reacts }}</span>
  </span>
  <span class="flex items-center justify-center gap-2">
    <img src="./../../assets/images/Retweet.svg" alt="" />
    <span>{{ tweets.retweets }}</span>
  </span>
  <span
    class="flex items-center justify-center gap-2"
    (click)="incrementLike()"
  >
    <img src="./../../assets/images/React.svg" alt="" />
    <span>{{ tweets.likes }}</span>
  </span>
  <span class="flex items-center justify-center gap-2">
    <img src="./../../assets/images/Share.svg" alt="" />
  </span>
</div>
