<div
*ngFor="let tweets of tweet"
  class="flex justify-start items-start gap-5 py-[1.5em] px-[1rem] border-b border-gray-700"
>
  <div >
    <img src="" alt="user-image" class="@apply flex-shrink-0 flex-grow-0 w-[70px]"/>
  </div>
  <div>
    <div class="flex gap-2">
      <span>{{tweets.name}}</span>
      <img src="./../../assets/images/Verified.svg" alt="">
      <span>{{tweets.userName}}</span>
      <span>.</span>
      <span>{{tweets.timeAgo |date:'mm' }}m</span>
    </div>
    <div>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur unde
      aliquam sed sit, veniam magnam beatae dolores maiores amet placeat! Veniam
      voluptatibus praesentium veritatis ex architecto, quos non dolore ipsa!
    </div>
    <img src="" alt="tweet-image" />
    <app-tweet-action></app-tweet-action>
  </div>
</div>
