<div
  class="flex items-start justify-start gap-5 py-[0.3em] px-[1em] border-solid border-[1px] border-[#2f3336]"
>
  <div class="@apply flex-shrink-0 flex-grow-0 w-[50px]">
    <img
      src="./../../assets/images/profile-photo.svg"
      alt="author-image"
      class="w-full h-full rounded-full"
    />
  </div>
  <div class="flex-auto">
    <textarea
      name=""
      id=""
      class="w-full h-[60px] text-white bg-black border-0 outline-none text-[1.3rem] resize-none pt-[10px] my-[13px] overflow-hidden"
      placeholder="What's happening"
    ></textarea>
    <div class="flex justify-between items-center">
      <div class="flex gap-2">
        <img src="./../../assets/images/Media.svg" alt="" />
        <img src="./../../assets/images/gif.svg" alt="" />
        <img src="./../../assets/images/Poll.svg" alt="" />
        <img src="./../../assets/images/gif.svg" alt="" />
        <img src="./../../assets/images/Schedule.svg" alt="" />
      </div>
      <button
        class="text-white border-none rounded-[50px] bg-[#1d9bf0] py-[0.7rem] px-[1.5em]"
      >
        Tweet
      </button>
    </div>
  </div>
</div>
