<div class="pt-[1.5em] w-[400px]">
  <div>
    <div>
      <input
        type="text"
        name=""
        id=""
        placeholder="search twiiter"
        class="placeholder:text-[color: #999;] bg-[#202327] w-full p-[10px] mb-[20px] sticky rounded-[20px] outline-none"
      />
    </div>
    <div class="bg-[#202327] rounded-[15px] py-[10px] px-[10px]">
      <div class="flex justify-between mb-4">
        <h2>Trends for you</h2>
        <img src="./../../assets/images/Options.svg" alt="" />
      </div>
      <div class="flex flex-col gap-4">
        <div>
          <div class="flex justify-between">
            <p class="text-gray-500">Trending in Turkey</p>
            <span>...</span>
          </div>
          <h2>#SQUID</h2>
          <p class="text-gray-500">2.066 tweets</p>
        </div>
        <div>
          <div class="flex justify-between">
            <p class="text-gray-500">Trending in Turkey</p>
            <span>...</span>
          </div>
          <h2>#SQUID</h2>
          <p class="text-gray-500">2.066 tweets</p>
        </div>
        <div>
          <div class="flex justify-between">
            <p class="text-gray-500">Trending in Turkey</p>
            <span>...</span>
          </div>
          <h2>#SQUID</h2>
          <p class="text-gray-500">2.066 tweets</p>
        </div>
        <div>
          <div class="flex justify-between">
            <p class="text-gray-500">Trending in Turkey</p>
            <span>...</span>
          </div>
          <h2>#SQUID</h2>
          <p class="text-gray-500">2.066 tweets</p>
        </div>
      </div>
      <p class="mt-4"><a href="" class="text-[#1da1f2]">Show more</a></p>
    </div>
    <div class="bg-[#202327] rounded-[15px] py-[10px] px-[10px] mt-4">
      <h2>Who to follow</h2>
      <div class="flex flex-col gap-4 mt-4">
        <div>
          <div class="flex justify-between">
            <div class="flex gap-4 items-center">
              <img src="./../../assets/images/logoNewYorkTime.svg" alt="" />
              <div>
                <div class="flex">
                  <p>The new York Times</p>
                  <img src="./../../assets/images/Verified.svg" alt="" />
                </div>
                <p>{{ "@nytimes" }}</p>
              </div>
            </div>
            <button
              class="bg-white text-black rounded-[20px] border-none font-bold px-[10px]"
            >
              Follow
            </button>
          </div>
        </div>
        <div>
          <div class="flex justify-between">
            <div class="flex gap-4 items-center">
              <img src="./../../assets/images/logo-rond-twitter.svg" alt="" />
              <div>
                <div class="flex">
                  <p>The new York Times</p>
                  <img src="./../../assets/images/Verified.svg" alt="" />
                </div>
                <p>{{ "@nytimes" }}</p>
              </div>
            </div>
            <button
              class="bg-white text-black rounded-[20px] border-none font-bold py-[4px] px-[10px]"
            >
              Follow
            </button>
          </div>
        </div>
        <div>
          <div class="flex justify-between">
            <div class="flex gap-4 items-center">
              <img src="./../../assets/images/logo-rond-twitter.svg" alt="" />
              <div>
                <div class="flex">
                  <p>The new York Times</p>
                  <img src="./../../assets/images/Verified.svg" alt="" />
                </div>
                <p>{{ "@nytimes" }}</p>
              </div>
            </div>
            <button
              class="bg-white text-black rounded-[20px] border-none font-bold py-[4px] px-[10px]"
            >
              Follow
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
